:root {
  --border-radius: 6px;
  --transition: all linear 0.2s;
  --max-width: 1170px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

.nav {
  height: 8vh;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: default;
}

.nav-links,
nav .sign-btn {
  display: none;
}

.btn {
  padding: 0.25em 0.75em;
  font-size: 1rem;
  background-color: transparent;
  border-color: transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: capitalize;
}

.main {
  position: relative;
  height: 92vh;
  background-color: aquamarine;
}

.sidebar {
  height: 92vh;
  width: 60%;
  background-color: aqua;
  position: absolute;
  z-index: 1;
  left: 40%;
  transition: var(--transition);
  transform: translateX(100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  transform: translateX(0);
}

.sidebar-center {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 80%;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(1, 1, 1, 0.25);
}

.sidebar-links {
  margin-left: 1rem;
  padding: 0.25rem;
  color: inherit;
  display: flex;
  gap: 0.75em;
}

@media screen and (min-width: 768px) {
  .nav .toggle-btn {
    display: none;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
  }

  .nav-links {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
  }

  .nav .sign-btn {
    display: block;
  }
}
