:root {
  --border-radius: 6px;
  --transition: all linear 0.2s;
  --max-width: 1170px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
  line-height: 1.5;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

.nav {
  height: 8vh;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 0.25em 0.75em;
  font-size: 1rem;
  background-color: transparent;
  border-color: transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.main {
  position: relative;
}

.sidebar {
  height: 92vh;
  width: 60%;
  background-color: aqua;
  position: absolute;
  left: 40%;
  transition: var(--transition);
  transform: translateX(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.show {
  transform: translateX(0);
}

.sidebar-center {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 80%;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(1, 1, 1, 0.25);
}

.sidebar-links {
  margin-left: 1rem;
  padding: 0.25rem;
  color: inherit;
  display: flex;
  gap: 0.75em;
}

main {
  min-height: 92vh;
  background-color: aquamarine;
  padding: 2rem 1.5rem;
  gap: 1.25rem;
  position: relative;
}

main h2 {
  font-size: 3rem;
  margin: 4rem 0 2rem;
}

main p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  max-width: 500px;
}

main .main-btn {
  background-color: #333;
  color: #fff;
}

main .sign-btn {
  margin-left: 1rem;
}

.main-btn:hover {
  transform: scale(1.05);
}

.main-btn:active {
  transform: scale(0.9);
}

.submenu {
  display: none;
}

@media screen and (min-width: 768px) {
  .sidebar,
  .nav .btn,
  main .sign-btn {
    display: none;
  }
}
